* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  background-color: blue;
}


.info p{
font-weight: bold;
}




p{
	font-size: 15px;
	 padding: 0.1em 0 0.5em 0;
}

.header_title{
	  font-size:26px;
		color:#ffff;
}

.subheader{
	font-size:26px;
	color: #623580;
}

span{
	font-size: 18px;
  color:red;
}

/*flex box responsive for logo and header*/

.inner-flex-container {
  display: flex;
  flex-direction: row;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1250px) { /*making it small or shrink*/
  .inner-flex-container img{
    display: none;
  }
}

@media (min-width: 1510px) { /*making it large*/
 .logotwyford img{
	 height: 115px;
 }
}

@media (min-width: 1900px) {


 }


.inner-body-container  h2{
	color: #623580;
	font-size: 27.5px;
}

label{
	font-weight: 500;
}

.inner-container{
  width: 65%;
  background-color: #F0F0F0;
  margin: auto;
}


.inner-header-container{
  background-color: #494949;
  width: 100%;
  color: #fff;
  text-align: left;
  padding:1em 2em 0.5em 2em;
  margin-bottom: 1em;

}
.data-protection-statement h3{
  font-size: 20px;

}
.data-protection-statement p{
	font-size: 12px;
}


.inner-container h4{
  font-size: 13px;
  word-spacing: 3px;

}


.inner-body-container{
  padding: 2em;
  margin: 2em;
}

/*CALENDAR DROP DOWN*/

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}

.dob{
	margin-left: -15px;
	margin-top: 40px;
}
.dob input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 5px;
  width: 190px;
  color: gray;
}

#free-textarea-one{
	display: none;

}

.btn-custom{
	margin:0 0 1em 0.5em;
	padding:0.5em 0.8em 0.5em 0.8em;
	border-radius: 5px;
	background-color: #623580;
	color: #ffff;
	border: none;
	transition: 0.2s;
}
.btn-custom:hover{
background-color:#7d45a2;
}

.btn-custom-outline{
	border:1px solid #623580;
	border-radius: 5px;
	margin:0 0 1em 0.5em;
	padding:0.3em 0.8em 0.3em 0.8em;
	transition: 0.2s;
	color:#623580;
}

.btn-custom-outline:hover{
	background-color: #7d45a2;
	color: #fff;

.form-check-label{
	font-size:12px;
}

.submit{
	text-align: center;
}
.sub-option-titles{
	color: #623580;
}

#current_school_details{
	display: none;
}
#current_school_details_two{
	display: none;
}

.table-responsive{
	width: 100%;
}
