* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.inner-container{
  background-color: #ffffff;
	padding:1em;
}


.inner-body-container{
	background-color:#E5E0DC;
	padding:1.8em;
	width: 70%;
	border-radius: 8px;
	margin: auto;

}

@media (min-width: 1900px) {
	.inner-body-container{
		background-color:#E5E0DC;
		padding: 1em;
		width: 45%;
		border-radius: 7px;
		margin: auto;

	}
 }

 @media (max-width:650px) { /*mobile*/
	 .inner-container{
	 	padding:0em;
	 }

 	.inner-body-container{
 		width: 100%;
		padding:0.7em;
 	}
  }


 .logotwyford img{
	margin-right:1em;
	border-radius: 7px;
 }

.info p{
font-weight: bold;
}

p{
	font-size: 15px;
	 padding: 0.1em 0 0.5em 0;
}

.header_title{
	  font-size:26px;
		color:#ffff;

}

.subheader{
	font-size:26px;
	color: #623580;
}

span{
	font-size: 18px;
  color:red;
}

/*flex box responsive for logo and header*/

.inner-flex-container {
  display: flex;
  flex-direction: row;
	padding: 0 0 2em 0;

}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1250px) { /*making it small or shrink*/
  .inner-flex-container img{
    display: none;
  }
}

@media (min-width: 1510px) { /*making it large*/
 .logotwyford img{
	 height: 115px;
 }
}

.inner-header-container h1{
	font-size:24px;
}

.inner-body-container  h2{
	color: #623580;
	font-size: 27.5px;
}

label{
	font-weight: 500;
}



.inner-header-container{
	border: 3px solid #bbbcbd;
  background-color: #623580;
	border-radius: 7px;
  width: 100%;
  color: #fff;
  text-align: left;
  padding:0.8em 1.8em 0em 2em;
}
.data-protection-statement h3{
  font-size: 20px;

}
.data-protection-statement p{
	font-size:15px;
}


.inner-container h4{
  font-size: 13px;
  word-spacing: 3px;

}



/*CALENDAR DROP DOWN*/

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

label {
  display: block;
}

.dob{
	margin-left: -15px;
	margin-top: 40px;
}
.dob input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 5px;
  width: 190px;
  color: gray;
}

#free-textarea-one{
	display: none;

}



.btn-custom{
	margin:0 0 1em 0.5em;
	padding:0.5em 0.8em 0.5em 0.8em;
	border-radius: 5px;
	background-color: #623580;
	color: #ffff;
	border: none;
	transition: 0.2s;
}
.btn-custom:hover{
background-color:#7d45a2;
}

.btn-custom-outline{
	border:1px solid #623580;
	border-radius: 5px;
	margin:0 0 1em 0.5em;
	padding:0.3em 0.8em 0.3em 0.8em;
	transition: 0.2s;
	color:#623580;
}

.btn-custom-outline:hover{
	background-color: #7d45a2;
	color: #fff;
}


.form-check-label{
	font-size:15px;
}

.form-check-input1, .form-check-input2{
	margin-left:-1.2em;
}


#current_school_details{
	display: none;
}
#current_school_details_two{
	display: none;

}


.submit{
	text-align: center;
}
.sub-option-titles{
	color: #623580;
}




.table-responsive{
	width: 100%;
}


#myDIV {
  font-size:14px;
	background-color: #ffff;
	padding:13px;
	margin-bottom:2em;
	border-radius: 5px;
  display:none;
}
